@model SistemaPIM.Models.LoginViewModel

@{
   <br> ViewBag.Title = "Politica de dados SoftGC. ";<br />
}
<h2>@ViewBag.Title <p><br>Politica LGPD.</h2><br /></p>

<h3>Se você tiver alguma dúvida, observação, solicitação ou reclamação sobre a coleta ou o uso de (seus) dados pessoais ou sobre esta declaração de privacidade, entre em contato com o responsável pela proteção de dados da GC Soluções de Investimento através do e-mail contato@gcbank.com.br . Além disso, você também tem o direito de apresentar uma reclamação junto à autoridade supervisora relevante.</h3>


