@model SistemaPIM.Models.LoginViewModel
@{
    ViewBag.Title = "Cadastro";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>

    <p>Caso necessite realizar o cadastro, entre em contato com os nossos gerentes através do e-mail <br> cadastro@gcbank.com.br ou por telefone: +55(11)3030-4545.<br /></p> 

</h4>
